server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:8080"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/lms-realm
          jwk-set-uri: http://localhost:8180/realms/lms-realm/protocol/openid-connect/certs

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
      password: ${SPRING_REDIS_PASSWORD:redis_secret_password}

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      authServiceCircuitBreaker:
        baseConfig: default
      userServiceCircuitBreaker:
        baseConfig: default
      courseServiceCircuitBreaker:
        baseConfig: default
      contentServiceCircuitBreaker:
        baseConfig: default
      assignmentServiceCircuitBreaker:
        baseConfig: default
      quizServiceCircuitBreaker:
        baseConfig: default
      attendanceServiceCircuitBreaker:
        baseConfig: default
      messagingServiceCircuitBreaker:
        baseConfig: default
      analyticsServiceCircuitBreaker:
        baseConfig: default
      searchServiceCircuitBreaker:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true
  health:
    circuitbreakers:
      enabled: true

logging:
  level:
    root: INFO
    com.lms.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
---
spring:
  config:
    activate:
      on-profile: docker
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/lms-realm
          jwk-set-uri: http://keycloak:8080/realms/lms-realm/protocol/openid-connect/certs

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8081
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - name: CircuitBreaker
              args:
                name: authServiceCircuitBreaker
                fallbackUri: forward:/fallback/auth
        - id: user-service
          uri: http://user-service:8082
          predicates:
            - Path=/api/v1/users/**
          filters:
            - name: CircuitBreaker
              args:
                name: userServiceCircuitBreaker
                fallbackUri: forward:/fallback/user
        - id: course-service
          uri: http://course-service:8083
          predicates:
            - Path=/api/v1/courses/**,/api/v1/modules/**,/api/v1/lessons/**
          filters:
            - name: CircuitBreaker
              args:
                name: courseServiceCircuitBreaker
                fallbackUri: forward:/fallback/course
        - id: content-service
          uri: http://content-service:8084
          predicates:
            - Path=/api/v1/content/**
          filters:
            - name: CircuitBreaker
              args:
                name: contentServiceCircuitBreaker
                fallbackUri: forward:/fallback/content
        - id: assignment-service
          uri: http://assignment-service:8085
          predicates:
            - Path=/api/v1/assignments/**,/api/v1/submissions/**
          filters:
            - name: CircuitBreaker
              args:
                name: assignmentServiceCircuitBreaker
                fallbackUri: forward:/fallback/assignment
        - id: quiz-service
          uri: http://quiz-service:8086
          predicates:
            - Path=/api/v1/quizzes/**,/api/v1/exams/**
          filters:
            - name: CircuitBreaker
              args:
                name: quizServiceCircuitBreaker
                fallbackUri: forward:/fallback/quiz
        - id: attendance-service
          uri: http://attendance-service:8087
          predicates:
            - Path=/api/v1/attendance/**
          filters:
            - name: CircuitBreaker
              args:
                name: attendanceServiceCircuitBreaker
                fallbackUri: forward:/fallback/attendance
        - id: messaging-service
          uri: http://messaging-service:8088
          predicates:
            - Path=/api/v1/notifications/**,/api/v1/messages/**
          filters:
            - name: CircuitBreaker
              args:
                name: messagingServiceCircuitBreaker
                fallbackUri: forward:/fallback/messaging
        - id: analytics-service
          uri: http://analytics-service:8089
          predicates:
            - Path=/api/v1/analytics/**,/api/v1/reports/**
          filters:
            - name: CircuitBreaker
              args:
                name: analyticsServiceCircuitBreaker
                fallbackUri: forward:/fallback/analytics
        - id: search-service
          uri: http://search-service:8090
          predicates:
            - Path=/api/v1/search/**
          filters:
            - name: CircuitBreaker
              args:
                name: searchServiceCircuitBreaker
                fallbackUri: forward:/fallback/search
