server:
  port: 8085

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: assignment-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/assignment_db}
    username: ${SPRING_DATASOURCE_USERNAME:lms_admin}
    password: ${SPRING_DATASOURCE_PASSWORD:lms_secret_password}
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: assignment-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.lms.*
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_AUTH_SERVER_URL:http://localhost:8180}/realms/lms-realm
          jwk-set-uri: ${KEYCLOAK_AUTH_SERVER_URL:http://localhost:8180}/realms/lms-realm/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
---
spring:
  config:
    activate:
      on-profile: docker
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/lms-realm
          jwk-set-uri: http://keycloak:8080/realms/lms-realm/protocol/openid-connect/certs
